$default-font-size: 1rem;

$color-primary: #c29400;
$color-primary-dark :#9e7e17;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #333;

$color-dark: #252835;
$color-dark-1:#131724;
$color-dark-2:#33384b;