.details {
    background-color: $color-dark-2;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 2rem;
   
}
.back-button {
    font-size: 2rem;
    cursor: pointer;
    text-align: right;
}
.title {
    padding: .5rem;
}
.info {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bio {
    width:5rem;
    padding: 1rem;
    border: 1px solid $color-primary;

    &__img {
        margin: 0 auto 1rem;
        width: 15rem;
        border: 1px solid $color-primary;
        border-radius: 50%;
        display: block;
    }
    &__name{
        font-size: 3rem;
        text-align: center;
    }
    &__bio {
        text-align: center;
        color: $color-grey-light-2;
        width: 30rem;

    }
}
.about {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 300;

    &__text {
        margin-bottom: 1rem;
    }

    &__numbers {
        margin-top: 2rem;
    }


}

.number_box {
    display: inline-block;
    text-align: center;
    color: $color-grey-light-1;
    padding-right: 1rem;

    &:not(:last-child) {
        border-right: 1px solid $color-primary;
        margin-right: 2rem;
    }
}

.snaller {
    font-size: .8rem;
    position:absolute;
    right: 1rem;
    color: $color-grey-light-1;
    opacity: .8;

}

.number__lg {
    font-size: 2rem;
    color: $color-primary;
}

.listTitle {
    background-color: $color-dark-2;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
}